/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1478 {
        padding: var(--sectionPadding);
        padding-top: (260/16rem);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 433px at desktop */
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
        
        .cs-title {
            max-width: 20ch;
        }
    
        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (24/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            column-gap: (40/16rem);
            row-gap: (16/16rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            list-style: none;
            font-weight: 700;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }

        .button-box {
            width: 100%;
            max-width: (630/16rem);
            margin-bottom: (32/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: (24/16rem);
        }

        .cs-link {
            text-decoration: none;
            padding-right: (40/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
            position: relative;
    
            &:hover {
                .cs-wrapper {
                    transform: scale(1.2);
                }
            }
        }
    
        .cs-wrapper {
            width: (52/16rem);
            height: (52/16rem);
            border: 1px solid #E8E8E8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform .3s;
        }

        .cs-img {
            width: (52/16rem);
            height: auto;
            border: 2px solid #BABABA;
            border-radius: 50%;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
        }
    
        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }
    
        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (4/16rem);
        }
    
        .cs-header {
            font-size: (25/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-phone {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--secondary);
            display: block;
        }
    
        .cs-link-content {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (48/16rem);
            border-radius: (30/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color .3s;

            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
            font-size:~"min(2.15vw, .8em)";
            width: (660/16em);
            height: (757/16em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            overflow: hidden;
            box-sizing: border-box;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (413/16em);
            height: (388/16em);
            border-radius: (194/16em);
            border: (8/16em) solid var(--secondary);
            top: 0;
            left: (-8/16em);
            z-index: -1;
        }

        .cs-picture2 {
            width: (290/16em);
            height: (290/16em);
            border-radius: 50%;
            border: (8/16em) solid #FFD3C6;
            bottom: (212/16em);
            right: (-8/16em);
            z-index: 10;
        }

        .cs-picture3 {
            width: (382/16em);
            height: (349/16em);
            border-radius: (136/16em);
            border: (8/16em) solid var(--primary);
            bottom: 0;
            left: (-8/16em);
            z-index: -1;
        }

        .cs-floater1 {
            width: (163/16em);
            height: auto;
            position: absolute;
            top: (130/16em);
            right: (70/16em);
            transform: rotate(-38deg);
        }

        .cs-floater2 {
            width: (81/16em);
            height: auto;
            position: absolute;
            top: (352/16em);
            left: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1478 {
        padding-top: clamp(8.25rem, 25vw, 16.25rem);
        .cs-link {
            &:nth-of-type(1) {
                border-right: 1px solid #E8E8E8;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1478 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            font-size:~"min(.9vw, 1em)";
            flex: none;
        }
    }
}

/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #sbs-1478 {
        .cs-image-group {
            font-size:~"min(1.13vw, 1em)";
            flex: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1478 {
            .cs-title, .cs-text, .cs-li, .cs-link-content, .cs-header, .cs-phone {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-li, .cs-header {
                opacity: .8;
            }

            .cs-wrapper, .cs-link {
                border-color: rgba(255, 255, 255, .1);
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1478 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            column-gap: (40/16rem);
            row-gap: (12/16rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (48/16rem);
            border-radius: (30/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color .3s;

            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* font size scaling. Everything inside the group is in ems so they pull their value for em from the parent (this group div) and when the font is set to a vw, it scales the whole section down and grows proportionally with the screen width, stopping at the final em value declared in the second slot for the min function. */
            font-size:~"min(2.25vw, .83em)";
            width: (652/16em);
            min-height: (720/16em);
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: (542/16em);
            height: auto;
            border-radius: (250/16em);
            border: (10/16em) solid #FFD3C6;
            background-color: #FFD3C6;
            overflow: hidden;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-oval {
            width: (727/16em);
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%) rotate(38deg);
        }

        .cs-box {
            text-align: center;
            width: auto;
            /* 16px - 40px */
            padding: clamp(1em, 3vw, 2.5em) clamp(2.5em, 5vw, 4em);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            left: 0;
            bottom: (60/16em);
            z-index: 10;
        }

        .cs-blob {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-number {
            /* 24px - 49px */
            font-size: clamp(1.25rem, 4.3vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--secondary);
            display: block;
            z-index: 10;
        }

        .cs-desc {
            /* 12px - 16px */
            font-size: clamp(.75rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            font-weight: bold;
            width: 100%;
            max-width: 20ch;
            color: var(--bodyTextColor);
            position: relative;
            z-index: 10;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1478 {
        .cs-container {
            max-width: (1280/16rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 47%;
            padding: (70/16rem) 0;
            align-self: center;
        }
        
        .cs-image-group {
            font-size:~"min(1.2vw, 1em)";
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-1478 {
            background-color: rgba(0, 0, 0, .2);
            
            .cs-title, .cs-text, .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1480 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (650/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (24/16rem);
            position: relative;
        }

        .cs-item {
            text-align: center;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            position: relative;
        }

        .cs-picture-group {
            position: relative;
        }

        .cs-picture {
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: cover;
            }
        }

        .cs-shape {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .cs-icon-wrapper {
            /* 16px - 20px */
            margin-top: ~"calc(clamp(1rem, 2vw, 1.25rem)*-1)";
            margin-bottom: (16/16rem);
            padding: (12/16rem);
            background-color: var(--primaryLight);
            border: 1px solid var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        .cs-icon {
            width: auto;
            height: (16/16rem);
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            max-width: (260/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            color: #fff;
            background-color: var(--secondary);
            border: none;
            border-radius: (100/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            overflow: hidden;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (100/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-graphic {
            width: (469/16rem);
            height: (455/16rem);
            position: absolute;
            top: (-241/16rem);
            right: (-275/16rem);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1480 {
        .cs-item {
            grid-column: span 6;

            &:nth-of-type(2) {
                &:after {
                    display: none;
                }
            }

            &:nth-of-type(1) {
                &:after {
                    transform: rotate(135deg) scaleX(-1);
                }
            }

            &:after {
                margin: 0;
                position: absolute;
                top: 0;
                right: (-40/16rem);
                transform: rotate(45deg);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #steps-1480 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            /* dotted line background */
            &::after {
                content: "";
                width: (4000/16rem);
                height: (151/16rem);
                background-image: url(https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-line.svg);
                position: absolute;
                top: (50/16rem);
                left: 50%;
                z-index: -1;
                transform: translateX(-50%);
            }
        }

        .cs-item {
            grid-column: span 3;

            &:nth-of-type(2) {
                &:after {
                    display: block;
                    transform: rotate(45deg);
                }
            }

            &:nth-of-type(3) {
                &:after {
                    display: block;
                    transform: rotate(135deg) scaleX(-1);
                }
            }

            &:after {
                right: (-48/16rem);
            }
        }

        .cs-graphic {
            top: 0;
        }
    }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
    #steps-1480 {
        .cs-graphic {
            width: (710/16rem);
            height: (690/16rem);
            margin-left: (663/16rem);
            left: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #steps-1480 {
            .cs-title,
            .cs-text,
            .cs-item-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-picture {
                border-color: var(--dark);
            }

            .cs-shape {
                path {
                    fill: var(--dark);
                }
            }

            .cs-graphic {
                opacity: 0.2;
            }
        }
    }
}
        
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1518 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: var(--secondary);
            opacity: .05;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
        }
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
            max-width: 19ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
        }
        
        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (462/16rem);
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            transition: border-color .3s;

            &:hover {
                .cs-wrapper {
                    border-color: var(--secondary);
                }

                .cs-mask {
                    --maskBorder: var(--secondary);
                }

                .cs-button-solid {
                    background-color: var(--secondary);
                }
            }
        }

        .cs-flex {
            text-align: center;
            margin-bottom: (-32/16rem);
            padding: (48/16rem) (32/16rem);
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: (8/16rem);
            position: relative;
            z-index: 10;
        }

        .cs-desc {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-h3 {
            font-size: (31/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-mask {
            --maskBG: #fff;
            --maskBorder: #e8e8e8;

            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;

            path {
                transition: stroke .3s;
            }
        }

        .cs-wrapper {
            height: 100%;
            /* 24px - 40px left & right */
            /* 24px - 32px bottom */
            padding: (40/16rem) clamp(1.5rem, 3.5vw, 2.5rem) clamp(1.5rem, 3vw, 2rem);
            box-sizing: border-box;
            background-color: #fff;
            overflow: hidden;
            border-radius: (32/16rem);
            border: 1px solid #e8e8e8;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            transition: border-color .3s;
        }

        .cs-ul {
            /* 24px - 40px */
            padding:  0 0 clamp(1.5rem, 3vw, 2.5rem) 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 8px - 12px */
            gap: clamp(.5rem, 1.5vw, .75rem);
            position: relative;
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: space-between;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (16/16rem);

            &.cs-disabled {
                opacity: .5;

                .cs-icon {
                    filter: grayscale(1) brightness(300%);
                }
            }
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-info {
            margin-top: auto;
            /* 16px - 24px */
            padding-top: clamp(1rem, 2vw, 1.5rem);
            box-sizing: border-box;
            border-top: 1px solid #E8E8E8;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-price {
            /* 31px - 39px */
            font-size: clamp(1.9375rem, 4vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: #767676;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }

        .cs-duration {
            font-size: (20/16rem);
            display: block;
            transform: translateY(.14rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            padding: 0 (32/16rem);
            border-radius: (50/16rem);
            background-color: var(--primary);
            overflow: hidden;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-blob {
            opacity: .1;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }

        .cs-button-solid {
            width: 100%;
            transition: background-color .3s;
        }

        .cs-background {
            --backgroundBG: #fff;

            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            position: absolute;
            left: 0;
        }

        .cs-background-top {
            top: 0;
        }

        .cs-background-bottom {
            bottom: 0;
            transform: rotateX(180deg);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing-1518 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: nowrap;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing-1518 {
        .cs-info {
            flex-direction: row;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-1518 {
            .cs-title, .cs-text, .cs-li, .cs-price, .cs-desc, .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-desc {
                opacity: .8;
            }

            .cs-wrapper {
                background-color: rgba(0, 0, 0, .4);
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-info {
                border-color: rgba(255, 355, 255, .2);
            }

            .cs-mask {
                --maskBG: var(--dark);
                --maskBorder: var(--accent);
            }

            .cs-icon {
                /* makes icon white (if it wasnt black to start) */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-button-solid {
                &:hover {
                    color: var(--primary);
                }

                &:before {
                    background-color: #fff;
                }
            }

            .cs-background {
                --backgroundBG: var(--dark);
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1505 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        background-color: #F2FAF8;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 48px */
            gap: clamp(2rem, 6vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 32px - 48px */
            margin: 0 0 clamp(2rem, 5vw, 3rem);
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: grid;
            /* changed at desktop */
            grid-template-columns: repeat( auto-fit, minmax(17rem, 1fr) );
            /* 16px - 20px */
            gap: clamp(1rem, 1.7vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            margin: 0;
            padding: (32/16rem);
            background-color: #fff;
            border: 1px solid #E8E8E8;
            border-radius: (32/16rem);
        }

        .cs-number {
            font-size: (49/16rem);
            line-height: 1.2em;
            font-weight: 900;
            color: var(--primary);
            /* 8px - 72px */
            margin: 0 0 clamp(.5rem, 6vw, 4.5rem);
            display: block;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            margin: 0;
        }

        .cs-image-group {
            position: relative;
            overflow: hidden;
            border-radius: 0 0 (86/16rem) (86/16rem);
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            /* 240px - 376px */
            height: clamp(15rem, 46vw, 23.5rem);
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-mask {
            --maskColor: #F2FAF8;

            height: auto;
            position: absolute;
            top: 0;
            left: -1px;
            right: -1px;
        }

        .cs-faq-group {
            width: 100%;
            max-width: (650/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #fff;
            border: 1px solid #E8E8E8;
            /* 24px - 32px */
            border-radius: clamp(1rem, 2.4vw, 2rem);
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            transition: border-color .3s;

            &.active {
                border-color: var(--secondary);
                .cs-button {
                    color: var(--secondary);
                    .cs-indicator {
                        &:before {
                            transform: translate(-50%, -50%) rotate(360deg);
                        }

                        &:after {
                            transform: translate(-50%, -50%) rotate(0deg);
                        }
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            background-color: #fff;
            border: none;
            color: var(--headerColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            transform-style: preserve-3d;
            perspective: 700px;
            transition: background-color .3s, color .3s;

            &:hover {
                cursor: pointer;
            }

            .cs-indicator {
                /* 40px - 48px */
                width: clamp(2.5rem, 4vw, 3rem);
                height: clamp(2.5rem, 4vw, 3rem);
                background-color: #fff;
                border: 1px solid #BABABA;
                border-radius: 50%;
                position: relative;
                z-index: 1;

                &:before {
                    /* left line */
                    content: '';
                    width: (16/16rem);
                    height: (2/16rem);
                    background-color: #767676;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: transform .5s;
                }
    
                &:after {
                    /* right line */
                    content: '';
                    width: (16/16rem);
                    height: (2/16rem);
                    background-color: #767676;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                    transition: transform .5s;
                }
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition: opacity .3s, padding-bottom .3s;
        }

        .cs-floater {
            display: none;
            position: absolute;
        }

        .cs-floater1 {
            width: (312/16rem);
            height: auto;
            margin-right: (700/16rem);
            top: (144/16rem);
            right: 50%;
            transform: rotate(8deg);
        }

        .cs-floater2 {
            width: (207/16rem);
            height: auto;
            margin-left: (840/16rem);
            top: (330/16rem);
            left: 50%;
            transform: rotate(8deg);
        }

        .cs-top {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }

        .cs-bottom {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-1505 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            max-height: (616/16rem);
            width: 40%;
            text-align: left;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-card-group {
            /* pushes up against the other flex items so it pushes to the bottom of the flexbox */
            margin-top: auto;
            grid-template-columns: 1fr 1fr;
        }

        .cs-item {
            grid-column: span 1;
        }
    }
}

/* Larger Desktop - 1600px */
@media only screen and (min-width: 100rem) {
    #faq-1505 {
        .cs-floater {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-1505 {
            background-color: #061a28;
            
            .cs-title, .cs-item-p {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: rgba(0, 0, 0, .2);
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-number {
                color: var(--secondary);
            }

            .cs-mask {
                --maskColor: #061a28;
            }

            .cs-item-text {
                color: var(--bodyTextColorWhite);
                opacity: .8;
            }

            .cs-faq-item {
                background-color: rgba(255, 255, 255, .1);
                border-color: rgba(255, 255, 255, .2);
                &.active {
                    .cs-button {
                        &:before, &:after {
                            background-color: var(--bodyTextColorWhite);
                        }
                    }
                }
            }

            .cs-button {
                background-color: transparent;
                color: var(--bodyTextColorWhite);
                &:before, &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .cs-indicator {
                background-color: rgba(0, 0, 0, .2);
                border-color: rgba(255, 255, 255, .2);
                &:before, &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .cs-top, .cs-bottom {
                path {
                    fill: var(--dark);
                }
            }
        }
    }
}
                
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1485 {
        padding: var(--sectionPadding);
        overflow: hidden;
        background-color: #FFF8F5;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 433px at desktop */
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
        
        .cs-title {
            max-width: 20ch;
        }
    
        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            width: 100%;
            max-width: (630/16rem);
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            /* 24px - 32px */
            gap: clamp(1.5rem, 3vw, 2rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            /* 24px - 32px */
            padding: 0 0 clamp(1.5rem, 3vw, 2rem);
            border-bottom: 1px solid #E8E8E8;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);

            &:last-of-type {
                padding: 0;
                border: none;
            }
        }

        .cs-li-picture {
            /* 60px - 80px */
            width: clamp(3.75rem, 6vw, 5rem);
            height: clamp(3.75rem, 6vw, 5rem);
            margin: 0;
            border-radius: 50%;
            border: 1px solid var(--primary);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-li-icon {
            /* 24px - 32px */
            width: clamp(1.5rem, 3vw, 2rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
        }

        .cs-li-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (48/16rem);
            border-radius: (30/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color .3s;

            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
            font-size:~"min(2.24vw, .9em)";
            width: (651/16em);
            height: (679/16em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            overflow: hidden;
            box-sizing: border-box;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (647/16em);
            height: (600/16em);
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-picture2 {
            width: (320/16em);
            height: (320/16em);
            border-radius: 50%;
            background-color: #fff;
            border: (10/16em) solid #FFFFFF;
            bottom: 0;
            right: 0;
            z-index: 10;
        }

        .cs-flower {
            width: (153/16em);
            height: auto;
            position: absolute;
            top: (43/16em);
            right: (12/16em);
            z-index: 1;
        }

        .cs-squiggle {
            width: (215/16em);
            height: auto;
            position: absolute;
            bottom: (145/16em);
            left: (50/16em);
        }

        .cs-mask {
            width: (649/16em);
            height: (602/16em);
            position: absolute;
            top: -1px;
            left: -1px;
            z-index: -1;
        }

        .cs-top {
            position: absolute;
            top: 0;
            left: 0;
            min-width: (1920/16rem);
            width: 100%;
            height: auto;
        }

        .cs-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            min-width: (1920/16rem);
            width: 100%;
            height: auto;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-1485 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            font-size:~"min(1.2vw, 1em)";
            flex: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-1485 {
            background-color: #061a28;

            .cs-title, .cs-text, .cs-h3, .cs-li-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-li-text {
                opacity: .8;
            }
            
            .cs-li {
                border-color: rgba(255, 255, 255, .1);
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-top, .cs-bottom {
                path {
                    fill: var(--dark);
                }
            }

            .cs-outer-mask {
                /* same as the BG color of the section */
                fill: #061a28;
            }
        }
    }
}
                                